---
title: Eva Maxfield Brown
layout: layouts/home.njk
description: science of scientific software researcher
date: Last Modified
---

<p>
  I am a PhD candidate at the <a href="https://ischool.uw.edu/">University of Washington Information School</a> advised by <a href="http://nicweber.info/">Dr. Nicholas Weber</a> and <a href="https://faculty.washington.edu/billhowe/">Dr. Bill Howe</a>.
</p>

<p>
  My research uses novel machine learning, natural language processing, and network analysis techniques to study the development, maintenance, and impact of research software. I am particularly interested in understanding divisions of labor and maintenance-usage imbalance in open source research software ecosystems.
</p>

<p>
  With the help of many others, I previously led the development of <a href="https://councildataproject.github.io/">CouncilDataProject</a> -- an easily deployable, generalizable system for municipal government event data processing, archival, search, and, discovery in the hopes of better local government accessibility and accountability.
</p>

<p>
  I am also the co-creator of <a href="https://github.com/AllenCellModeling/aicsimageio">AICSImageIO</a> and now: <a href="https://github.com/bioio-devs/bioio">BioIO</a>, a library for reading and writing microscopy images in Python (including too-large-for-memory images). As of, June 1, 2024, AICSImageIO has been installed more than <a href="https://pepy.tech/project/aicsimageio">500,000 times</a> over it's lifespan.
</p>

<p>
  You can find my academic publications on my <a href="https://scholar.google.com/citations?user=Jhz4D7YAAAAJ">Google Scholar</a> or <a href="https://www.semanticscholar.org/author/2162029994">Semantic Scholar</a> profiles, my open-source scientific development work on my <a href="https://github.com/evamaxfield">GitHub</a>, and my rant's and raves about everything else on my <a href="https://bsky.app/profile/evamaxfield.bsky.social">Bluesky</a>.
</p>