---
title: Eva Maxfield Brown
layout: layouts/home.njk
description: science of scientific software researcher
date: Last Modified
---

<p>
  I am a PhD candidate at the <a href="https://ischool.uw.edu/">University of Washington Information School</a> advised by <a href="http://nicweber.info/">Dr. Nicholas Weber</a>.
</p>

<p>
  My research investigates the identification, measurement, and attribution of scientific software and its developers in science. My work forms connections between scientific source code and publications, examines how scientific software impacts research outcomes, and explores methods for measuring the sustainability of critical research software. My recent work includes studying <a href="https://doi.org/10.48550/arXiv.2510.16242">code contribution and credit in science</a>, <a href="https://doi.org/10.48550/arXiv.2411.05087">measuring software innovation through open-source development data</a>, and <a href="https://doi.org/10.48550/arXiv.2404.06672">identifying crucial but hidden biomedical software packages</a>.
</p>

<p>
  Beyond studying scientific software, I enjoy creating and maintain software tools for investigating the science of scientific software including my ongoing projects <a href="https://github.com/evamaxfield/rs-graph">rs-graph</a> and <a href="https://github.com/evamaxfield/sci-soft-models">sci-soft-models</a>. I have also previously created and maintained tools for <a href="https://github.com/bioio-devs/bioio">microscopy image reading and writing</a> and <a href="https://github.com/councildataproject/">municipal government data analysis</a>. I hold an MS in Information Science and a BS in Informatics from the University of Washington.
</p>

<p>
  You can find my academic publications on my <a href="https://scholar.google.com/citations?user=Jhz4D7YAAAAJ">Google Scholar</a> or <a href="https://www.semanticscholar.org/author/2162029994">Semantic Scholar</a> profiles and my open-source scientific development work on my <a href="https://github.com/evamaxfield">GitHub</a>.
</p>