---
title: Jackson Maxfield Brown
layout: layouts/home.njk
description: public interest technology researcher and open infrastructure developer
date: Last Modified
---

<p>
  I am currently a PhD student at the <a href="https://ischool.uw.edu/">University of Washington Information School</a> working under <a href="https://nicweber.info/">Dr. Nicholas Weber</a> and <a href="https://homes.cs.washington.edu/~billhowe/">Dr. Bill Howe</a> in the <a href="https://datalab.ischool.uw.edu/">UW DataLab</a>. I research and build open access infrastructures largely pertaining to municipal governments and large research institutions.
</p>

<p>
  I currently lead a team of developers and designers as we work on <a href="https://councildataproject.github.io/">CouncilDataProject</a> -- an easily deployable, generalizable system for municipal government event data processing, archival, search, and, discovery in the hopes of better local government accessiblity and accountability. Council Data Project infrastructure is entirely free! We hope to see it utilized by all members of the public for increased municipal government awareness and for shared, collaborative, open access research on municipal governance behaviors.
</p>

<p>
  Previously I have worked as a data engineer at <a href="https://numina.co">Numina</a> and as a research engineer at the <a href="https://allencell.org">Allen Institute for Cell Science</a>. You can find most of my work from my time at the Allen Institute under my team's GitHub organization -- <a href="https://github.com/allencellmodeling">AllenCellModeling</a>.
</p>

<p>
  You can find my scientific Python, civic technology, and other open-source work on <a href="https://github.com/jacksonmaxfield">GitHub</a>.
</p>

<p>
  You can find my rants and raves about scientific Python, civic technology, other open-source work, and more on <a href="https://twitter.com/jmaxfieldbrown">Twitter</a>.
</p>